<template>
  <div id="share">
    <div class="scrollWrapper" ref="share">
      <div class="textContent" ref="textContent">
        <div class="index">
          <img src="../assets/voucher.png" alt="">
          <div class="content">
            <div class="wrapper">
              <giveVoucher :couponsCode="couponsCode"></giveVoucher>
              <div>
                <div class="reciveWrapper">
                  <div class="line1"></div>
                  <span class="text">快来领取吧</span>
                  <div class="line2"></div>
                </div>
                <div class="telNumber" ref="telNumber">
                  <input type="tel" v-model="number" placeholder="请输入手机号" ref="ipt">
                  <i class="iconfont icon-cuowu" @click="reset" v-show="flag"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="download" @click="openApp">下载泰生活APP</div>
        </div>
      </div>
    </div>
    <div class="btn" @click="go">领取优惠券</div>
    <model :show="show" @changeModel="changeModel"></model>
  </div>
</template>

<script>
  import BScroll from 'better-scroll';
  import { Indicator } from 'mint-ui';
  import {urlParse} from '../common/util';
  import axios from 'axios'
  import Cookies from 'js-cookie'

  export default {
    name: 'HelloWorld',
    data () {
      return {
        number: '',
        src: "../assets/voucher.png",
        cardNo: '',
        couponsCode: '',
        name: '',
        price: '',
        isAndroid: '',
        isIos: '',
        iosStore: '',
        androidScheme: '',
        androidStore: '',
        isBuild: false,
        sxtUri: '',
        wechat: false,
        show: false,
        flag: false
      }
    },
    watch: {
      number(newVal,oldVal){
        let finalVal = '';
        let reg = /[0-9]+/;
        for(let val of newVal.toString()){
          if(reg.test(val)){
            finalVal += val
          }
        }
        if(finalVal.length > 11){
          this.$toast({
            message: "最多只能输入11位数字",
            duration: 1000
          });
          this.number = oldVal;
        }else {
          if(finalVal.length>0){
            this.flag = true;
          }else {
            this.flag = false;
          }
          this.number = finalVal
        }
      }
    },
    methods: {
      changeModel(){
        this.show = !this.show;
      },
      reciveVoucher(){
        if(this.number){
          let reg = /(^1[0-9]{10}$)/;
          if(reg.test(this.number)){
            return true;
          }else {
            this.$toast({
              message: "您填写的手机号有误，请重新输入",
              duration: 1000
            })
            return false;
          }
        }else {
          this.$toast({
            message: "请输入手机号",
            duration: 1000
          })
          return false;
        }
      },
      reset(){
        this.number = ''
      },
      go(){
        if(this.reciveVoucher()){
          if (window.navigator.onLine) {
            Indicator.open({
              text: '领取中',
              spinnerType: 'fading-circle'
            });
          }
          axios.get("/sendorsharecoupon/hFiveShareCoupon?cardNo="+this.cardNo+"&applicationPhone="+this.number+"&couponsCode="+this.couponsCode).then((response) => {
            Indicator.close();
            this.$toast({
              message: response.data.msg,
              duration: 1000
            });
            if(response.data.code == 119){
              setTimeout(() => {
                location.href = location.origin + "/tkphysical/share/#/share?couponsCode="+ this.couponsCode
              },2000);
            }else if(response.data.code == 0){
              Cookies.set("fromIndex","true",{expires: 2});
              Cookies.set("couponsCode",this.couponsCode,{expires: 2});
              Cookies.set("cardNo",this.cardNo,{expires: 2});
              Cookies.set(this.cardNo,this.cardNo,{expires: 2});
              setTimeout(() => {
                location.href = location.origin + "/tkphysical/share/#/recive?number="+this.number +","+ this.couponsCode + "." + this.cardNo
              },2000);
            }
          })
        }
      },
      initScroll(){
        this.$nextTick(() => {
          if(!this.cartScroll){
            this.cartScroll = new BScroll(this.$refs.share,{
              click: true,
              probeType: 3
            });
          }else {
            this.cartScroll.refresh();
          }
        })
      },
      init(){
        let queryParam = urlParse('history');
        this.cardNo = queryParam.cardNo;
        this.couponsCode = queryParam.couponsCode;
        this.isAndroid = navigator.userAgent.indexOf('Android') > -1 || navigator.userAgent.indexOf('Adr') > -1;
        this.isIos = !!navigator.userAgent.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/);
        axios.get("/sendorsharecoupon/findApplicationPhoneByCardNo?cardNo="+this.cardNo).then((response) => {
          if(response.data.code == 0){
            if(Cookies.get(this.cardNo) == this.cardNo){
              location.href = location.origin + "/tkphysical/share/#/recive?number="+ response.data.data +","+ Cookies.get("couponsCode") + "." + Cookies.get("cardNo");
              return;
            }
          }else {
            this.sxtUri = this.parse()['sxt_uri'];
            if(this.isBuild) {
              this.iosStore = "https://itunes.apple.com/cn/app/%E6%B3%B0%E5%BA%B7%E6%B3%B0%E7%94%9F%E6%B4%BB/id1333900848?mt=8";
              this.androidScheme = "tk://tklife/app?sxt_uri=" + this.sxtUri;
              this.androidStore = "http://a.app.qq.com/o/simple.jsp?pkgname=com.taikang.tailife";
            } else {
              this.iosStore = "https://itunes.apple.com/cn/app/%E6%B3%B0%E5%BA%B7%E6%B3%B0%E7%94%9F%E6%B4%BB/id1333900848?mt=8";
              this.androidScheme = "tk://tklife/app-t?sxt_uri=" + this.sxtUri;
              this.androidStore = "http://a.app.qq.com/o/simple.jsp?pkgname=com.taikang.tailife";
            }
          }
        })
      },
      //检查app是否打开
      checkOpen(cb){
        var _clickTime = +(new Date());
        function check(elsTime) {
          if ( elsTime > 3000 || document.hidden || document.webkitHidden) {
            cb(1);
          } else {
            cb(0);
          }
        }
        //启动间隔20ms运行的定时器，并检测累计消耗时间是否超过3000ms，超过则结束
        var _count = 0, intHandle;
        intHandle = setInterval(function(){
          _count++;
          var elsTime = +(new Date()) - _clickTime;
          if (_count>=100 || elsTime > 3000 ) {
            clearInterval(intHandle);
            check(elsTime);
          }
        }, 20);
      },
      isWeiXin(){
        var ua = window.navigator.userAgent.toLowerCase();
        if(ua.match(/MicroMessenger/i) == 'micromessenger'){
          return true;
        }else{
          return false;
        }
      },
      parse() {
        var str,arr,newArr,num,num2,i,j,newJson;
        if(window.location.search) {
          str = decodeURIComponent(window.location.search.split('?')[1]);
          arr = str.split('&');
          num = arr.length;
          newJson = {};
          for (i=0; i<num; i++) {
            newArr = arr[i].split('=');
            num2 = newArr.length;
            newJson[newArr[0]] = newArr[1];
          }
          return newJson;
        }else{
          return {};
        }
      },
      openAndroidApp(openUrl, callback) {
        //检查app是否打开
        function checkOpen(cb){
          var _clickTime = +(new Date());
          function check(elsTime) {
            if ( elsTime > 3000 || document.hidden || document.webkitHidden) {
              cb(1);
            } else {
              cb(0);
            }
          }
          //启动间隔20ms运行的定时器，并检测累计消耗时间是否超过3000ms，超过则结束
          var _count = 0, intHandle;
          intHandle = setInterval(function(){
            _count++;
            var elsTime = +(new Date()) - _clickTime;
            if (_count>=100 || elsTime > 3000 ) {
              clearInterval(intHandle);
              check(elsTime);
            }
          }, 20);
        }

        //在iframe 中打开APP
        var ifr = document.createElement('iframe');
        ifr.src = openUrl;
        ifr.style.display = 'none';

        if (callback) {
          checkOpen(function(opened){
            callback && callback(opened);
          });
        }

        document.body.appendChild(ifr);
        setTimeout(function() {
          document.body.removeChild(ifr);
        }, 2000);

      },
      openApp(){
        this.$refs.ipt.blur();
        if(this.isWeiXin()){
          this.show = true;
        }else {
          if(this.isIos){
            window.location.href = 'https://tklife.mobile.taikang.com/app-t?app_page=3-order_state=1';
          }else if(this.isAndroid){
            window.location = 'tklife://tklife.mobile.taikang.com/app-t?app_page=3-order_state=1';
            var clickedAt = +new Date;
            setTimeout(function(){
              !window.document.webkitHidden &&
               (function(){
                if (+new Date - clickedAt < 2000){
                  window.location = 'http://a.app.qq.com/o/simple.jsp?pkgname=com.taikang.tailife';
                }
              }, 500);
            }, 500)
          }
        }
      }
    },
    created(){
      this.init();
    },
    mounted(){
      this.initScroll();
      window.onresize = () => {
        this.cartScroll.refresh();
        let height = this.$refs.telNumber.offsetHeight;
        this.cartScroll.scrollToElement(this.$refs.telNumber, 500, 0, -height);
      }
      window.onload = () => {
        this.cartScroll.refresh();
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="less">
  #share{
    height: 100%;
    .scrollWrapper{
      overflow: hidden;
      height: 100%;
    }
    .index{
      padding-bottom: 70px;
      box-sizing: border-box;
      img{
        width: 100%;
      }
      .content{
        width: 340px;
        margin: 0 auto;
        padding-top: 20px;
        box-sizing: border-box;
        .wrapper{
          background-color: #fff;
          padding-bottom: 30px;
        }

        .reciveWrapper{
          font-size: 13px;
          line-height: 18px;
          margin-top: 30px;
          .text{
            position: relative;
            &:before{
              content: "";
              position: absolute;
              width: 80px;
              height: 1px;
              background-image: linear-gradient(90deg, rgba(238,238,238,0.50) 0%, #D8D8D8 100%);
              left: -90px;
              top: 50%;
            }
            &:after{
              content: "";
              position: absolute;
              width: 80px;
              height: 1px;
              background-image: linear-gradient(-90deg, rgba(238,238,238,0.50) 0%, #D8D8D8 99%);
              right: -90px;
              top: 50%;
            }
          }
        }
        .telNumber{
          margin-top: 20px;
          position: relative;
          input{
            width: 280px;
            height: 40px;
            outline: none;
            border: 1px solid #999;
            border-radius: 4px;
            padding-left: 10px;
            padding-right: 30px;
            box-sizing: border-box;
            -webkit-appearance: none;
          }
          i{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 40px;
          }
        }
      }
      .download{
        display: inline-block;
        margin: 0 auto;
        font-size: 12px;
        line-height: 17px;
        color: #3998E9;
        margin-top: 15px;
        text-decoration: underline;
      }
    }
  }
</style>
