<template>
  <div class="recive">
    <div class="scrollWrapper" ref="scrollWrapper">
      <div class="contentWrapper">
        <div class="content">
          <div class="logoWrapper"><div class="logo"></div></div>
          <div class="main">
            <div class="title">燕园体检优惠券</div>
            <div class="name">{{price}}元体检优惠券</div>
            <div class="time">{{beginTime}}至{{endTime}}</div>
            <div class="line"></div>
            <div class="textWrapper">
              <div class="user">已发放至账户 <span>{{number}}</span></div>
              <div class="text">以该手机号登录泰生活APP使用</div>
              <div class="border"></div>
              <rule :couponsCode="couponsCode"></rule>
            </div>
          </div>
        </div>
      </div>
      <model :show="show" @changeModel="changeModel"></model>
      <!--<div class="btn" @click="share">去泰生活APP享用优惠</div>-->
      <div class="btn" @click="openApp">去泰生活APP享用优惠</div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  import BScroll from 'better-scroll';
  import { Indicator } from 'mint-ui';
  import Cookies from 'js-cookie'
  export default {
    name: "recive",
    data(){
      return{
        number: '',
        couponsCode: '',
        cardNo: '',
        name: '',
        price: '',
        beginTime: '',
        endTime: '',
        show: false,
        isIos: '',
        iosStore: '',
        hash: ''
      }
    },
    methods: {
      changeModel(){
        this.show = !this.show;
      },
      share(){
        this.$router.push({
          name: 'share'
        })
      },
      isWeiXin(){
        var ua = window.navigator.userAgent.toLowerCase();
        if(ua.match(/MicroMessenger/i) == 'micromessenger'){
          return true;
        }else{
          return false;
        }
      },
      setCookie(){
        this.initScroll();
        Cookies.set(this.cardNo,this.cardNo,{expires: 2});
        axios.get("couponV2/basicInfo?couponCode="+this.couponsCode).then((response) => {
          if(response.data.code == 0){
            this.name = response.data.data.COUPON[0].dictionaryEntity.name;
            this.price = parseInt(response.data.data.COUPON[0].dictionaryEntity.marketPrice) - parseInt(response.data.data.COUPON[0].dictionaryEntity.realPrice)
            this.beginTime = response.data.data.COUPON[0].dictionaryEntity.beginTime.substr(0,10);
            this.endTime = response.data.data.COUPON[0].dictionaryEntity.endTime.substr(0,10);
          }
        })
      },
      init(){
        this.isAndroid = navigator.userAgent.indexOf('Android') > -1 || navigator.userAgent.indexOf('Adr') > -1;
        this.isIos = !!navigator.userAgent.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/);
        let hash = window.location.hash;
        this.hash = hash;
        let index = hash.indexOf("=");
        let index1 = hash.indexOf(",");
        let index2 = hash.indexOf(".");
        this.number = hash.substring(index + 1,index1);
        this.couponsCode = hash.substring(index1 + 1,index2);
        this.cardNo = hash.substring(index2 + 1);

        if(this.isWeiXin()){
            // if(Cookies.get("fromIndex") != "true"){
              if(this.cardNo != Cookies.get(this.cardNo)){
                location.href = location.origin + "/tkphysical/share/?cardNo="+ this.cardNo + "&couponsCode=" + this.couponsCode + "#/"
              }else {
                // if(this.cardNo != Cookies.get(this.cardNo)){
                //   location.href = location.origin + "/tkphysical/share/?cardNo="+ this.cardNo + "&couponsCode=" + this.couponsCode + "#/"
                // }else {
                  this.setCookie();
                // }
              }
            // }else {
            //   this.setCookie();
            // }
        }else {
          this.setCookie();
        }
      },
      initScroll(){
        this.$nextTick(() => {
          if(!this.reviceScroll){
            this.reviceScroll = new BScroll(this.$refs.scrollWrapper,{
              click: true,
              probeType: 3
            });
          }else {
            this.reviceScroll.refresh();
          }
        })
      },
      openApp(){
        if(this.isWeiXin()){
          this.show = true;
        }else {
          if(this.isIos){
            location.href = 'https://tklife.mobile.taikang.com/app-t?app_page=2-coupon_tab=2';
          }else if(this.isAndroid){
            window.location = 'tklife://tklife.mobile.taikang.com/app-t?app_page=2-coupon_tab=2';
            var clickedAt = +new Date;
            setTimeout(function(){
              !window.document.webkitHidden && setTimeout(function(){
                if (+new Date - clickedAt < 2000){
                  window.location = 'http://a.app.qq.com/o/simple.jsp?pkgname=com.taikang.tailife';
                }
              }, 500);
            }, 500)
          }
        }
      }
    },
    created(){
      this.init();
    },
    mounted(){
      window.onload = () => {
        this.reviceScroll.refresh();
      }
    }
  }
</script>

<style lang="less">
  .recive{
    height: 100%;
    .scrollWrapper{
      overflow: hidden;
      height: 100%;
    }
    .contentWrapper{
      padding-bottom: 70px;
      padding-top: 40px;
      box-sizing: border-box;
    }
    .content{
      width: 340px;
      background-color: #fff;
      margin: 0 auto;
      position: relative;
      padding-bottom: 20px;
      .logoWrapper{
        width: 54px;
        height: 54px;
        border-radius: 50%;
        position: absolute;
        top: -26px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #F0F0F0;
        .logo{
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: url("../assets/voucher2.png") no-repeat center center;
          background-color: #fff;
          background-size: 26px 26px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }
      }
      .title{
        font-size: 16px;
        line-height: 22px;
        color: #333;
        padding-top: 44px;
      }
      .name{
        font-size: 24px;
        line-height: 33px;
        color: #FF5722;
        margin-top: 20px;
      }
      .time{
        font-size: 16px;
        line-height: 22px;
        color: #999;
      }
      .line{
        margin-top: 40px;
        margin-bottom: 15px;
      }
      .textWrapper{
        text-align: left;
        .user{
          font-size: 14px;
          line-height: 22px;
          color: #333;
          padding: 0 20px;
          span{
            color: #FF5722;
          }
        }
        .text{
          font-size: 14px;
          line-height: 20px;
          color: #333;
          margin-top: 4px;
          padding: 0 20px;
        }
        .border{
          width: 319px;
          height: 1px;
          background-color: #f0f0f0;
          margin: 0 auto;
          margin-top: 15px;
          margin-bottom: 20px;
        }
      }
    }
  }
</style>
