<template>
  <div class="share">
    <div class="scrollWrapper" ref="scrollWrapper">
      <div class="contentWrapper">
        <div class="content">
          <img src="../assets/voucher.png" alt="" class="banner">
          <div class="textContent">
            <giveVoucher :couponsCode="couponsCode"></giveVoucher>
            <div class="ruleWrapper">
              <rule :couponsCode="couponsCode"></rule>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="btn" @click="index">去泰生活APP抢券</div>-->
    <div class="btn" @click="openApp">去泰生活APP抢券</div>
    <model :show="show" @changeModel="changeModel"></model>
  </div>
</template>

<script>
  import BScroll from 'better-scroll'
  export default {
    name: "share",
    data() {
      return {
        src: "./static/image/voucher.png",
        couponsCode: '',
        show: false,
        isAndroid: '',
        isIos: ''
      }
    },
    methods: {
      changeModel(){
        this.show = !this.show;
      },
      index() {
        this.$router.push({
          name: 'home'
        })
      },
      init(){
        let hash = window.location.hash;
        let index = hash.indexOf("=");
        this.couponsCode = hash.substring(index + 1);
        this.isAndroid = navigator.userAgent.indexOf('Android') > -1 || navigator.userAgent.indexOf('Adr') > -1;
        this.isIos = !!navigator.userAgent.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/);
      },
      initScroll(){
        this.$nextTick(() => {
          if(!this.shareScroll){
            this.shareScroll = new BScroll(this.$refs.scrollWrapper,{
              click: true,
              probeType: 3
            });
          }else {
            this.shareScroll.refresh();
          }
        })
      },
      isWeiXin(){
        var ua = window.navigator.userAgent.toLowerCase();
        if(ua.match(/MicroMessenger/i) == 'micromessenger'){
          return true;
        }else{
          return false;
        }
      },
      openApp(){
        if(this.isWeiXin()){
          this.show = true;
        }else {
          if(this.isIos){
            window.location.href = 'https://tklife.mobile.taikang.com/app-t?app_page=3-order_state=1';
          }else if(this.isAndroid){
            window.location = 'tklife://tklife.mobile.taikang.com/app-t?app_page=3-order_state=1';
            var clickedAt = +new Date;
            setTimeout(function(){
              !window.document.webkitHidden && setTimeout(function(){
                if (+new Date - clickedAt < 2000){
                  window.location = 'http://a.app.qq.com/o/simple.jsp?pkgname=com.taikang.tailife';
                }
              }, 500);
            }, 500)
          }
        }
      }
    },
    created(){
      this.init();
    },
    mounted(){
      this.initScroll();
      window.onload = () => {
        this.shareScroll.refresh();
      }
    }
  }
</script>

<style lang="less">
  .share{
    height: 100%;
    .scrollWrapper{
      overflow: hidden;
      height: 100%;
    }
    .contentWrapper{
      padding-bottom: 70px;
      box-sizing: border-box;
    }
    .banner{
      display: block;
      width: 100%;
    }
    .textContent{
      background-color: #fff;
      width: 350px;
      margin: 0 auto;
      margin-top: 20px;
      padding-bottom: 20px;
      box-sizing: border-box;
    }
  }
</style>
