<template>
  <div class="giveVoucher">
    <div class="text1">送您一张体检优惠券，可优惠{{price}}元</div>
    <div class="text2">适用于燕园康复医院体检中心，{{name}}体检</div>
    <div class="line"></div>
  </div>
</template>

<script>
  import axios from 'axios'
    export default {
      name: "giveVoucher",
      data(){
        return{
          name: '',
          price: ''
        }
      },
      props: ['couponsCode'],
      methods:{
        init(){
          axios.get("couponV2/basicInfo?couponCode="+this.couponsCode).then((response) => {
            this.name = response.data.data.COUPON[0].dictionaryEntity.name;
            this.price = parseInt(response.data.data.COUPON[0].dictionaryEntity.marketPrice) - parseInt(response.data.data.COUPON[0].dictionaryEntity.realPrice)
          })
        }
      },
      created(){
        this.init();
      }
    }
</script>

<style lang="less">
  .giveVoucher{
    overflow: hidden;
    .text1{
      font-size: 18px;
      line-height: 25px;
      color: #FF5722;
      padding-top: 30px;
    }
    .text2{
      font-size: 12px;
      line-height: 17px;
      color: #666;
      margin-top: 6px;
    }
  }
</style>
