<template>
  <div class="model" v-show="show" @click="changeShow">
    <img src="../assets/arrow.png" alt="" class="arrow">
    <div>1、点击右上角 &nbsp;" <i class="iconfont icon-gengduo"></i> "</div>
    <div>2、选择 &nbsp;"<span>在浏览器中打开</span>"&nbsp; 后进入页面</div>
    <img src="../assets/know.png" alt="" class="know">
  </div>
</template>

<script>
    export default {
      name: "model",
      data(){
        return{
        }
      },
      props: ['show'],
      methods: {
        changeShow(){
          this.$emit('changeModel')
        }
      }
    }
</script>

<style lang="less">
  .model{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.85);
    color: #fff;
    font-size: 17px;
    z-index: 1000;
    text-align: left;
    padding-top: 40px;
    line-height: 30px;
    font-family: "FZZHYK--GBK1-0";
    .arrow{
      position: absolute;
      top: 78px;
      right: 48px;
      width: 53px;
    }
    div{
      margin: 0 auto;
      padding-left: 40px;
      &:nth-child(2){
        margin-top: 105px;
      }
      i{
        line-height: 30px;
        color: #FFA524;
      }
      span{
        color: #FFA524;
      }
    }
    .know{
      display: block;
      margin: 0 auto;
      margin-top: 70px;
      width: 120px;
    }
  }
</style>
