<template>
  <div class="rule">
    <ul>
      <li>活动规则</li>
      <li>1.一张优惠券只能被领取一次，不可被多次领取；</li>
      <li>2.本优惠券只适用于泰生活APP购买体检服务；</li>
      <li>3.本优惠券只能用于购买泰康燕园康复医院体检中心{{name}}；</li>
      <li>4.有效期间:{{bTime}}至{{eTime}}。</li>
    </ul>
  </div>
</template>

<script>
  import axios from 'axios';
  import { Indicator } from 'mint-ui';
    export default {
      name: "rule",
      data(){
        return{
          name: '',
          price: '',
          beginTime: '',
          endTime: '',
          bTime: '',
          eTime: ''
        }
      },
      props: ['couponsCode'],
      methods:{
        init(){
          Indicator.open({
            spinnerType: 'fading-circle'
          });
          axios.get("couponV2/basicInfo?couponCode="+this.couponsCode).then((response) => {
            Indicator.close();
            this.name = response.data.data.COUPON[0].dictionaryEntity.name;
            this.price = parseInt(response.data.data.COUPON[0].dictionaryEntity.marketPrice) - parseInt(response.data.data.COUPON[0].dictionaryEntity.realPrice);
            this.beginTime = response.data.data.COUPON[0].dictionaryEntity.beginTime.substr(0,10);
            this.endTime = response.data.data.COUPON[0].dictionaryEntity.endTime.substr(0,10);
            this.bTime = this.parseTime(this.beginTime);
            this.eTime = this.parseTime(this.endTime);
          })
        },
        parseTime(time){
          let index1 = time.indexOf("-");
          let index2 = time.lastIndexOf("-");
          return time.substring(0,index1) + "年" + time.substring(index1+1,index2) + "月" + time.substring(index2+1) + "日"
        }
      },
      created(){
        this.init();
      }
    }
</script>

<style lang="less">
  .rule{
    font-size: 14px;
    line-height: 20px;
    color: #666;
    text-align: left;
    padding: 0 14px;
    letter-spacing: 0;
  }
</style>
