<template>
  <div id="app">
    <div id="myheader" class="header" v-if="headerFlag">
      <i class="iconfont icon-fanhui" @click="back"></i>
      <span>送您实惠又专业的健康体检</span>
    </div>
    <div class="pageContent" ref="pageContent">
      <router-view/>
    </div>
  </div>
</template>

<script>
  import 'reset-css';
  export default {
    name: 'App',
    data(){
      return {
        headerFlag: true
      }
    },
    methods: {
      back(){
        history.back();
      },
      judgmentBrowser(){
        let ua = navigator.userAgent.toLowerCase();
        let isweixin = ua.match(/MicroMessenger/i) == "micromessenger";
        if(isweixin){
          this.headerFlag = false
        }else {
          this.$refs.pageContent.style.top = "10.667vw"
        }
      }
    },
    mounted(){
      this.judgmentBrowser();
    }
  }
</script>

<style lang="less">
  html,body{
    height: 100%;
    font-family: 'PingFangSC-Regular' !important;
  }
  img{
    content: normal !important;
  }
  .btn{
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 47px;
    color: #fff;
    font-size: 16px;
    line-height: 47px;
    background-color: #FF5722;
    z-index: 999;
  }
  .line {
    width: 100%;
    height: 0px;
    border-bottom: 1px dashed #ccc;
    position: relative;
    margin-top: 40px;
    margin-bottom: 15px;
    &:before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      background: #F0F0F0;
      border-radius: 50%;
      left: -10px;
      top: -10px;
    }
    &:after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      background: #F0F0F0;
      border-radius: 50%;
      right: -10px;
      top: -10px;
    }
  }
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
  background-color: #F0F0F0;
  .header{
    height: 40px;
    width: 100%;
    background-color: #FF5722;
    color: #fff;
    line-height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    i{
      float: left;
      margin-left: 18px;
      font-size: 20px;
    }
    span{
      float: left;
      font-size: 18px;
      margin-left: 46px;
    }
  }
  .pageContent{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    height: calc(100% - 40px);
  }
}
</style>
